[Unit]
Description=Pacoloco caching proxy server

[Service]
User=pacoloco
ExecStart=/usr/bin/pacoloco
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/pacoloco.pid
KillMode=process

[Install]
WantedBy=multi-user.target
